/* See license.txt for terms of usage */

body {
  margin: 0;
  padding: 0;
  font-family: Lucida Grande, Tahoma, sans-serif;
  font-size: 11px;
}

.title {
  color: green;
  font-weight:  bold;
  text-align: left !important;
}

.split-box {
  height: 100%;
}

#container5 {
  height: 110px;
}

/**
 * Another test
 */
.container {
  height: 100px;
  border-bottom: 1px solid lightgray;
}

.container .panel,
.container .tabs {
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.container .tabs {
  padding: 0;
}

.splitBoxParent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
}

/* Splitter with flex-box support */

.centerFlexPanel {
  height: 100%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  min-width: 100px;
  flex: 1;
}

@media (max-width: 700px) {
  .splitBoxParent {
    flex-wrap: wrap;
  }

  .container .rightFlexSplitter .controlled,
  .container .rightFlexSplitter {
    width: 100% !important;
    max-width: 100% !important;
  }

  .rightFlexSplitter .splitter {
    display: none;
  }

  .rightFlexPanel::after {
    content: ": I should be wrapped on new line now (taking entire horizontal space).";
  }
}
